
p {
    text-decoration: none;
    font-size: 2.33em;
  }

  .navbar2 {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
  }
  
  /* We want all links in the navbar2 to be #e7e7e7 */
  .navbar2 p {
    color: #e7e7e7;
    
  }
  
  .navbar2 ul {
   /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 10px ;
    padding: 10px;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
  }
  
  .navbar2 .navbar2_brand {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    display: flex;
    border-radius: 100%;
    height: 100px;
    padding: 10px;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
   width: 30%;
  }
  
  .navbar2 .navbar2_font{
    font: italic 3em "Fira Sans", serif;
    color: white;
  }

  .navbar2 .navbar2_container{
    display: table;
    column-count: 2;
    
  }

  .navbar2 ul li p {
    color: #e7e7e7;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar2 ul p:hover,
  .navbar2 ul p:focus,
  .navbar2 ul .active {
    background-color: #272727;
  }