
a {
    text-decoration: none;
    font-size: 2.33em;
  }

  .navbar {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: relative;
    justify-content: space-between;
  }
  
  /* We want all links in the navbar to be #e7e7e7 */
  .navbar a {
    color: #e7e7e7;
    
  }
  
  .navbar ul {
   /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 10px ;
    padding: 10px;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
  }
  
  .navbar .brand {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    display: flex;
    border-radius: 100%;
    height: 100px;
    padding: 10px;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
   width: 30%;
  }
  
  .navbar .navbar_font{
    font: italic 3em "Fira Sans", serif;
    color: white;
  }

  .navbar .navbar_container{
    display: table;
    column-count: 2;
    
  }

  .navbar ul li a {
    color: #e7e7e7;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar ul a:hover,
  .navbar ul a:focus,
  .navbar ul .active {
    background-color: #272727;
  }