/* IDs*/
#footer{
    background-color: #333333;
    color: #f0f0f2;
}

#footer_table{
    width: auto;
    height: 100px;
    margin-left: auto;
    padding: 15px;
}

#footer_th{
    width: auto;
    height: 50px;
    border: 10px solid #ffffff00;
    padding: 5px;
}

#footer_image{
    height: 50px;
    padding: auto;
}

/* Class */

.footer_link:hover {
  background-color: #272727;
}