  .navbar2 {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .navbar2_hamburger{
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 0%;
    height: 0;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
    opacity: 0;
  }
  /* We want all links in the navbar2 to be #e7e7e7 */
  .navbar2_hamburger_menu {
    opacity: 0;
}
  #navbar2_list {
   /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 1%;
    padding: 1%;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
  }

  .navbar2_brand {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    display: flex;
    border-radius: 100%;
    width: calc(100px + 1vw);
    padding: 10px;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
  }
 .navbar2_font{
    font: 2vh "FiraSans";
    color: white;
    color: #e7e7e7;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }

  .navbar2_container{
    display: table;
    column-count: 2;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar2 ul p:hover,
  .navbar2 ul p:focus,
  .navbar2 ul .active {
    background-color: #272727;
  }
@media (max-width: 480px) {
  
  .navbar2 {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 0%;
    height: 0%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
    opacity: 0;
  }

  .navbar2_hamburger{
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
    margin-bottom: 10px;
    opacity: 1;
  }

  .navbar2_hamburger_container {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    width: 100%;
    height: 9%;
    z-index: 1;
    margin-bottom: 10px;
    opacity: 1;
    /* let's align the items so everything is nice and centered */
    flex-flow: column nowrap;
    z-index: 10;
  }

  #hamburger_check[type='checkbox'],
  .navbar2_hamburger_image{
    position: absolute;
    display: block;
    margin-left: 10px;
    top: 10px;

  }
  .navbar2_hamburger_image {
    /*Let's make the anchor display block.
       This will ensure when we get the full width of the container.
    */
    display: flex;
    border-radius: 100%;
    width: auto;
    padding: 10px;
    margin: auto;
   /* Remove padding from top/bottom and add 24px padding right/left */
   justify-items: left;
   float: left;
  }

  #hamburger_check[type='checkbox']{
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 1;
    opacity: 0;
  }

  

  
  #navbar2_hamburger_menu{
      margin-top: 75px;
      background: #fff;
      height: 400px;
      width: 200vw;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-right: -40px;
      padding-right: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
      opacity: 1;
      list-style: none;
      z-index: 10;
  }

  #hamburger_check[type="checkbox"]:checked ~ #navbar2_hamburger_menu {
    transform: translateX(0%);
    opacity: 1;
    z-index: 10;
  }

  #hamburger_line_1{
    background-color: white;
    width: 40px;
    height: 5px;
    margin-bottom: 20%;
  }
  
  #hamburger_line_2{
    background-color: white;
    width: 40px;
    height: 5px;
    margin-bottom: 20%;

  }

  #hamburger_line_3{
    background-color: white;
    width: 40px;
    height: 5px;
    margin-bottom: 10%;

  }
  .navbar2_font{
    font: 2vh "FiraSans";
    color: black;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
}