#navbar2_list1{
  pointer-events: none;
  opacity: 1;
}
 .navbar2 {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
  }
  .navbar2_hamburger_container{
    opacity: 0;
  }
  /* We want all links in the navbar2 to be #e7e7e7 */
  #navbar2_list {
   /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 1%;
    padding-top: 10%;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
    pointer-events: all;
  }

  .navbar2_font{
    font: italic calc(0.5em + 1vw) "Fira Sans", serif;
    color: white;
  }


  .navbar2_font {
    color: #e7e7e7;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar2 ul p:hover,
  .navbar2 ul p:focus,
  .navbar2 ul .active {
    background-color: #272727;
  }

  #navbar2_hamburger_input input[type='checkbox'],
    #navbar2_hamburger_input{
    display: block;
    position: absolute;
    margin-left: 10px;
  }

  #navbar2_hamburger_input[type='checkbox']{
    opacity: 0;
    width: 50px;
    height: 50px;
    pointer-events: none;
  }
#navbar2_list_hamburger{
  opacity: 0;
  height: 0px;
  pointer-events: none;
}
  @media (max-width: 400px) {
    #navbar2_hamburger_input input[type='checkbox'],
    #navbar2_hamburger_input{
    display: block;
    position: absolute;
    margin-left: 10px;
    margin-top: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    pointer-events: all;
  }

  #navbar2_hamburger_input:checked + #navbar2_list_hamburger{
    transform: translateX(10%);
  }
  #navbar2_list1{
    pointer-events: none;
    opacity: 0;
  }

  #navbar_list2{

  }

  #navbar2_list_hamburger{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #navbar2_list_hamburger~{

  }

  .navbar2 {
    background-color: #333333;
    display: flex;
    /* let's align the items so everything is nice and centered */
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 10px;
  }
  /* We want all links in the navbar2 to be #e7e7e7 */
  #navbar2_list {
   /* Let's reset the margin and padding of the list so it's is flush. */
    margin: 1%;
    padding: 1%;
    /* Let's remove the bullet points */
    list-style-type: none;
    /* display the list flex and align the items centered */
    display: flex;
    justify-content: right;
  }

  .navbar2_font{
    font: italic calc(0.5em + 1vw) "Fira Sans", serif;
    color: white;
  }


  .navbar2_font {
    color: #e7e7e7;
    padding: 24px;
    margin: auto;
    /*Let's make the anchor display block.
       This will ensure when we hover, focus, or is active we get the full width and height 
        of the container.
    */
    display: block;
  }
  
  /* When a user hovers, focuses or if the link is active change the background */
  .navbar2 ul p:hover,
  .navbar2 ul p:focus,
  .navbar2 ul .active {
    background-color: #272727;
  }
  #navbar2_hamburger_line1{
    margin-top: 50%;
    background-color: black;
    width: 50px;
    height: 5px;
    border-radius: 15px;
    margin-left: 10px;
  }
  #navbar2_hamburger_line2{
    background-color: black;
    width: 50px;
    height: 5px;
    border-radius: 15px;
    margin-top:4px;
    margin-left: 10px;
  }
  #navbar2_hamburger_line3{
    background-color: black;
    width: 50px;
    height: 5px;
    border-radius: 15px;
    margin-top: 4px;
    margin-left: 10px;
  }

  }   