/*IDs */
#homescreen{
    background-color: #f0f0f2;
    padding: 5vh 10vh 5vh 10vh;
    font: 20px "FiraSans";
    line-height: 1.75;
    text-align: center;
}

/*Classnames */
.color_padding_outer{
    background-color: #333333;
    margin: 10% 0% 15% 0%;
    padding: 5% 0%;
}

.color_padding_inner{
    background-color: #d5d5d8;
    justify-content: center;
    margin: auto;
    padding: 5%;
}

.homepage_polaroid{
    display: block;
    position: relative;
    top: 8px;
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 3%;
    padding-top: 5%;
    margin-top: 30px;
    height: auto;
    word-wrap: break-word;
}

.img_polaroid {
    width: 15%;
    border-radius: 100%;
    object-fit: scale-down;
    vertical-align: bottom;
    justify-content: center;
    padding-bottom: 10px;
}

.homescreen_h1{
    padding: 5% 0%;
    margin: 20px auto;
    color: #0D0D0D;
    text-align: center;
    font: 3em "Lato", serif;
}

.homescreen_h2{
    color: #506b92;
    font: 2em "Lato", serif;
    text-align: center;
    margin: 8% 0%;
}

.flex_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex{
    flex-direction: row;
    flex: 33%;
    margin: 3% auto;
}

.flex2{
    width: auto;
    text-align: center;
    margin: auto;
}

.homescreen_gradient{
    background:
        linear-gradient(
            #f0f0f2 90%,rgba(94, 30, 30, 0) 10%),
          linear-gradient(#ffffff00, #ffffff00),
          linear-gradient(-290deg, #506b92, rgba(0, 0, 255, 0) 80%);
}


@font-face{
    font-family: FiraSans;
    src: url('../../fonts/Fira_Sans/FiraSans-Light.ttf') format('TrueType')
}
    
@media screen and (min-width: 1000px) {
    p {
        font-size: 1.1em;
        line-height: 2;
    }
    .flex_container {
        flex-direction: row;
    }
    .flex{
        padding: 15px;
    }
    .flex2{
        width: 75%;
    }
}