@font-face{
    font-family: FiraSans;
    src: url('../../fonts/Fira_Sans/FiraSans-Light.ttf') format('TrueType')
}

/*IDs */
#homescreen{
    height: auto;
    background-color: #f0f0f2;
    /*margin-top: 10vh;*/
    margin: auto;
    width: 80%;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font: 1.15vw "FiraSans";
    line-height: 1.5;
    text-align: center;
}

/*
#homepage_about{
    font: italic calc(3vw + 1em)  "Fira Sans", serif;
}*/
#homepage_meet_the_team{
    color: white;
}

/*Classnames */
.color_padding_outer{
    background-color: #333333;
    margin-top: 10%;
    padding: 3% 0%;
    margin-bottom: 15%;
}

.color_padding_inner{
    background-color: #d5d5d8;
    justify-content: center;
    margin: auto;
    padding: 5%;
}

.homepage_background{
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/*.homepage_container{
    justify-content: center;
    text-align: center;    
}

.homepage_item{
    width: 50%;
    margin: auto;
}*/

.homepage_polaroid{
    display: block;
    position: relative;
    top: 8px;
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 30px;
    height: auto;
    word-wrap: break-word;
}

.homepage_meet_the_team{
    text-align: center;
    justify-content: center;
    /*font: italic calc(3vw + 1em) "Fira Sans", serif;*/
    margin: 30px;
    padding-bottom: 10px;
    display: block;
    height: auto;
    min-width: 50%;

    
}
.homepage_generic_font{
    /*font: italic calc(1vw + 1em) "Helvetica", sans-serif;*/
    color: rgb(0, 0, 0);
    text-align: center;
}

.img_polaroid {
    width: 15%;
    border-radius: 100%;
    object-fit: scale-down;
    vertical-align: bottom;
    justify-content: center;
    padding-bottom: 10px;
}

/*.homepage_exec_summary{
    font: italic calc(2vw + 1em) "Fira Sans", serif;
    color: black;
    text-align: center;
}*/

.homepage_h1{
    padding: 5% 0%;
    margin: 20px 0px;
    color: #0D0D0D;
    text-align: center;
    font: 7vw "Lato", serif;
}

.homepage_h2{
    color: #506b92;
    font: 4vw "Lato", serif;
    text-align: center;
    margin: 8% 0%;
}

.gradient{
    margin: auto;
    background:
        linear-gradient(
            #f0f0f2 90%,rgba(94, 30, 30, 0) 10%),
          linear-gradient(#ffffff00, #ffffff00),
          linear-gradient(-290deg, #506b92, rgba(0, 0, 255, 0) 80%);
      }