/*IDs */
#homescreen{
    height: auto;
    background-color: #2e3338;
    margin-top: 10vh;
    width: 80%;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    
}

#homepage_about{
    font: italic calc(3vw + 1em)  "Fira Sans", serif;
}
#homepage_meet_the_team{
    color: white;

}
/*Classnames */
.color_padding_outer{
    background-color: #4b5659;
    padding: 5%;

}

.color_padding_inner{
    background-color: #d3d7c3;
    justify-content: center;
    margin: auto;
}

.homepage_background{
    color: white;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.homepage_container{
    justify-content: center;
    text-align: center;    
}

.homepage_item{
    width: 50%;
    margin: auto;
}

.homepage_polaroid{
    display: block;
    position: relative;
    top: 8px;
    margin: auto;
    width: auto;
    text-align: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
    font-size: xx-large;
    margin-top: 30px;

    height: auto;
    word-wrap: break-word;
}

.homepage_meet_the_team{
    text-align: center;
    justify-content: center;
    font: italic calc(3vw + 1em) "Fira Sans", serif;
    margin: 30px;
    padding-bottom: 10px;
    display: block;
    height: auto;

    
}
.homepage_generic_font{
    font: italic calc(1vw + 1em) "Fira Sans", serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.img_polaroid {
    width: 15%;
    border-radius: 100%;
    object-fit: scale-down;
    vertical-align: bottom;
    justify-content: center;
    padding-bottom: 10px;
}

.homepage_exec_summary{
    font: italic calc(2vw + 1em) "Fira Sans", serif;
    color: black;
    text-align: center;
}

.homepage_header{
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font: italic calc(3vw + 1em) "Fira Sans", serif;
}