/*IDs */
#welcome_homepage{
    background-color: #000080;
    padding: 30px;
    margin: 0;
    color: white;
    text-align: center;
    font: italic 6em "Fira Sans", serif;
}
#homepage_about{
    font: italic 6em "Fira Sans", serif;
}
#homepage_meet_the_team{
    background-color: #000080;
}
/*Classnames */
.homepage_background{
    background-color: #9370db;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.homepage_container{
    justify-content: center;
    text-align: center;
    padding: 10px;
    
}

.homepage_item{
    width: 50%;
    margin: auto;
}

.homepage_polaroid{
    display: flex;
    position: relative;
    top: 8px;
    margin: auto;
    width: auto;
    height: 400px;
    text-align: center;
    background-color: white;
    justify-content: center;
    padding-top: 40px;
    font-size: xx-large;
    margin: 30px;
}

.homepage_meet_the_team{
    text-align: center;
    justify-content: center;
    font: italic 5em "Fira Sans", serif;
    margin: 0;
    padding: 10px;
}
.homepage_generic_font{
    font: italic 1.5em "Fira Sans", serif;
}
/*Tags */
.img_polaroid {
    width: 15%;
    border-radius: 100%;
    object-fit: scale-down;
    position: absolute;
    top: 40%;

}