#Password_clients,
#Username_clients{
    width: 10vw;
    height: 1vw;
}

#Password_users,
#Username_users{
    width: 10vw;
    height: 1vw;
}

/*Class names*/

.container {
    display: flex;
    width: 100vw;
}

.item {
    justify-content: center;
    padding: 20px;
    margin: auto;
}