#profile{
    min-height: 100vh;
    height: 100%;
    background-color: #506b92;;
}

#client_column {
    display: absolute;
    padding-top: 45vh;
    padding-bottom:  20px;
    justify-content: center;
    min-height: 100%;
    height: auto;
}

#client_row{
    width: 50%;
    padding: 20px 20px;
    border: dotted;
    margin: auto;
}
#profile_user{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    transition: 0.5s;
    background: url(../pictures/Assets/UserProfile.png);
    background-size: contain;
}
/*
#profile_user:hover{
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -8%;
    left: 5vw;
    transition: 0.5s;
    background: url(../pictures/Assets/UserProfile.png);
    background-size: contain;
}
*/
#profile_comments_container{
    
}
#profile_message{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -3.5%;
    left: 70vw
}
#profile_share{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -3.5%;
    left: 60vw;
}
#profile_select{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -3.5%;
    left: 80vw;
}
#profile_select2{
    height: 100px;
    width: 100px;
    border-radius: 0%;
    position: absolute;
    top: -2%;
    left: 82vw;
    background-color: transparent;
}
#profile_background{
    background-color: black;
    min-height: 100%;
}

#profile_input{
    display: none;
}

.client_photos {
    padding: 20px 20px;
    border: solid;
}

.profile_noUser{
    
    width: 10%;
    height: 10%;
     
}
