/*IDs */
#homepage{
    max-height: fit-content;
    background: url('../../pictures/Assets/Elipses.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#welcome_homepage{
    padding: 30px;
    margin-top: 11vh;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font: italic 6em "Fira Sans", serif;
}
#homepage_about{
    font: italic 6em "Fira Sans", serif;
}
#homepage_meet_the_team{
    color: white;

}
/*Classnames */
.homepage_background{
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.homepage_container{
    justify-content: center;
    text-align: center;
    padding: 10px;
    
}

.homepage_item{
    width: 50%;
    margin: auto;
}

.homepage_polaroid{
    display: block;
    position: relative;
    top: 8px;
    margin: auto;
    width: auto;
    text-align: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: xx-large;
    margin: 30px;
    min-height: 40vh;
    word-wrap: break-word;
}

.homepage_meet_the_team{
    text-align: center;
    justify-content: center;
    font: italic 5em "Fira Sans", serif;
    margin: 30px;
    padding: 10px;
    display: block;
    
}
.homepage_generic_font{
    font: italic 3em "Fira Sans", serif;
    color: black;
}
/*Tags */
.img_polaroid {
    width: 15%;
    border-radius: 100%;
    object-fit: scale-down;
    vertical-align: bottom;
    justify-content: center;
}