#login{
    background: url(../../../../public/Space.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    width: 100vw;
    height: 100vh;
    margin-bottom: 0;
    background-color: transparent;
    padding-top: 3vh; 
}

#Password_users,
#Username_users{
    width: 15vw;
    height: 40px;
}
#login_centerpiece{
    display: flex;
    border-radius: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    height: calc(10vw + 20px)
}

#login_signin{
    width: 10vw;
    height: 4.5vh;
    
}
/*Class names*/

.login_container {
    display: flex;
    margin: auto ; 
    justify-content: center;
    top: 10vh;
    padding-top: 10vh;
}

.login_item {
    padding: 20px;
    margin: auto;
    
}

.login_font{
    font: italic calc(1vw + 1em) "Fira Sans", serif;
    color: white;
    margin: auto;
}